__pycache__
data/llm_cache*
data/repos
data/pr_chunks
data/results
data/results_03_2025
data/classification_results
data/classification_results_03_2025
data/target_prs
data/ground_truth
data/*.csv
data/figures/*.pdf
.results_*
ICSE2026_paper.pdf
.github_token
logs_*.json
results_*.json
.openai_token
.openai_base_url
.db_token
.worker_id
candidate_projects*.csv
.target_project
.coverage
coverage.json
coverage_report
.openrouter_token
.git.bak/
